# (Subdomain này cần được trỏ DNS về IP của server cài FreeIPA) dùng để truy cập giao diện Web UI của FreeIPA
IPA_SERVER="ipa.yourdomain.com"

# Tên miền gốc của hệ thống (sử dụng để định danh người dùng, dịch vụ...)
IPA_DOMAIN="yourdomain.com"

# Realm là viết hoa của DOMAIN, dùng trong xác thực Kerberos
# Ví dụ: IPA_DOMAIN=yourdomain.com → IPA_REALM=YOURDOMAIN.COM
IPA_REALM="YOURDOMAIN.COM"

# DNS forwarder: DNS cấp cao dùng để phân giải tên miền khác (ví dụ: Google DNS)
IPA_FORWARDER="X.X.X.X"  # Ví dụ: 8.8.8.8 (ví dụ: Google DNS)

# Mật khẩu cho Directory Manager (LDAP backend) dùng cho truy cập kỹ thuật vào backend 389-DS
IPA_DS_PASS="ABCXYZ"
